<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200;300;400&display=swap" rel="stylesheet">

    <!-- css -->
    <link rel="stylesheet" href="/css/category.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/dashboard-navbar.css">
    <link rel="stylesheet" href="css/footer/footer.css">
</head>
<body>

    <%- include("navbar.ejs"); %>

    <%- include("dashboard-navbar.ejs"); %>
    
    <div class="sub-categories">
    <!-- sub categories -->
    <% subCategories.forEach(subCategory => { %>
        <div class="sub-category1 sub-category">
            <div class="symbol" onclick="showProfiles1()">
                <div class="line1"></div>
                <div class="line2"></div>
            </div>
            <h2><%= subCategory.name %></h2>
            <a href="/dashboard/sub-categories?subCategory=<%= subCategory.name %>">See More...</a>
        </div>
        <div class="helper-profiles1 helper-profiles hidden">
            <!-- profile card 1 -->
            <div class="profile-card1 profile-card">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
            <h3>Jack Miller</h3>
            <p>I always had interest in sub category 5. I am so excited to help you with this.</p>
            <a href="#">See Profile</a>
            </div>
            <!-- profile card 2 -->
            <div class="profile-card2 profile-card">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
            <h3>John Williams</h3>
            <p>I am so thrilled to guide you through this challenging topic.</p>
            <a href="#">See Profile</a>
            </div>
            <!-- profile card 3 -->
            <div class="profile-card3 profile-card">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
            <h3>Scott Smith</h3>
            <p>I am so passionate and excited. Let's do it together!</p>
            <a href="#">See Profile</a>
            </div>
        </div>
    <% }) %>

    <%- include("./footer/footer.ejs"); %>

    <script src="/js/category.js"></script>
    <script src="/js/Search.js"></script>
    <script src="/js/dashboardNavbar"></script>
</body>
</html>