<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Meetings</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap" rel="stylesheet">
    <!-- css -->
    <base href="/">
    <link rel="stylesheet" href="css/meetings.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/footer/footer.css">
    <link rel="stylesheet" href="css/account.css">
</head>
<body>
    <%- include("navbar.ejs"); %>

    <%- include("accountNavbar.ejs"); %>

    <h2 class="title">Your Meetings</h2>
    <div class="meetings-container">
      <div class="meetings">
        <% meetings.forEach(meeting => { %>
          <div class="meeting-box">
            <% if(locals.user.role == "Helper") { %>
              <h3 class="meeting-title">Meeting with <%= meeting.customer %></h3>
            <% } else { %>
              <h3 class="meeting-title">Meeting with <%= meeting.helper %></h3>
            <% } %>
            <p class="time"><b>Date: </b><%= meeting.meetingDate %></p>
            <p class="link"><b>Link: </b><%= meeting.meetingLink %></p>
          </div>
        <% }) %>
      </div>
    </div>

    <%- include("./footer/footer.ejs"); %>
</body>
</html>