<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200;300;400&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/dashboard-navbar.css">
    <link rel="stylesheet" href="css/footer/footer.css">
</head>
<body>

  <%- include("navbar.ejs"); %>

  <%- include("dashboard-navbar.ejs"); %>
  
  <div class="results">
    <!-- <div class="category-results">
      <h2>Categories:</h2>
      <a href="#">Category</a>
    </div> -->
    <div class="sub-category-results">
      <h2>Sub Categories:</h2>
      <% if (subcategoriesFound.length > 0) { %>
        <% subcategoriesFound.forEach(subcategory => { %>
          <a href="/dashboard/sub-categories?subCategory=<%= subcategory.name %>"><%= subcategory.name %></a>
        <% }) %>
      <% } else { %>
        <p>No Sub-Categories Found!</p>
      <% } %>
    </div>
    <div class="people-results">
      <h2>Helpers:</h2>
      <% if (helpersFound.length > 0) { %>
        <% helpersFound.forEach(helper => { %>
          <div class="helper-profile">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
            <h3><%= helper.name %></h3>
            <p><%= helper.description %></p>
            <a href="/dashboard/profiles?id=<%= helper.id %>">See Profile</a>
          </div>
        <% }) %>
      <% } else { %>
        <p>No People Found!</p>
      <% } %>
    </div>
  </div>

  <%- include("./footer/footer.ejs"); %>

  <script src="/js/Search.js"></script>
  <script src="/js/dashboardNavbar"></script>
</body>
</html>