<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200;300;400&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" href="/css/subCategory.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/dashboard-navbar.css">
    <link rel="stylesheet" href="css/footer/footer.css">
</head>
<body>

    <%- include("navbar.ejs"); %>

    <%- include("dashboard-navbar.ejs"); %>

    <div class="text-before-profiles">
        <h2 class="sub-category-name-text"><a href="/dashboard/categories?category=<%= thisCategory.toUpperCase() %>"><%= thisCategory.toUpperCase() %></a> / <%= thisSubCategory %></h2>
        <p class="filter">Filter Results</p>
    </div>
    
    <div class="results">
       <% profiles.forEach(profile => { %>
         <!-- helper profile -->
         <div class="helper-profile">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png">
            <h3><%= profile.name %></h3>
            <p><%= profile.description %></p>
            <div class="btn-div"> 
                <a href="/dashboard/profiles?id=<%= profile.id %>">See Profile</a>
                <% if(locals.user && locals.user.role == "Customer") { %> <a href="/chat/add?id=<%= profile.id %>">Chat</a> <% } %>
            </div>
        </div>
       <% }) %>
    </div>

    <%- include("./footer/footer.ejs"); %>

    <script src="/js/Search.js"></script>
    <script src="/js/dashboardNavbar"></script>
</body>
</html>